script(type='text/javascript', src='/lib/alphaTab/AlphaTab.js')
script(type='text/javascript', src='/lib/alphaTab/jquery.alphaTab.js')
script(type='text/javascript', src='/lib/alphaTab/jquery.alphaTab.drop.js')
script(type='text/javascript', src='/vendor/swfobject/swfobject/swfobject.js')
script(type='text/javascript', src='/lib/alphaSynth/AlphaSynth.js')
script(type='text/javascript', src='/lib/alphaTab/jquery.alphaTab.alphaSynth.js')
